@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

form {
  /*  display: inline-block;*/
  width: 50%;
  margin: 25% 25% 0% 20%;
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  height: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 0px;
  height: 24px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.alo {
  display: flex;
}

.imageBack {
  display: flex;
}

.righthand {
  background-color: white;
  width: 50%;
  height: 100%;
  float: right;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 20px 40px rgba(0, 0, 0, 0.25));
}

label {
  width: 100%;
  font-weight: normal;
  float: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  color: #7F7F7F;
}

.left-image {
  height: 100vh;
  width: 50%;
}

.button {
  display: flex;
  width: 90%;
  background-color: #00C164;
  color: white;
  padding: 16px 12px;
  cursor: pointer;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  height: 24px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}


.forgot-password {
  font-size: 14px;
  width: 100%;
  margin: 20px 30px 30px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.forgot-password a {
  color: #00C164;
  text-decoration: none;
}

.dangki {
  display: flex;
  margin: 10px 0 0 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 100%;
  background-color: white;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}

.rightBlock {
  width: 80%;
  height: 100%;
  background-color: #f5f5f5;
}

.leftBlock p {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  margin-top: 24px;
  margin-bottom: 60px;
  color: #00C164;
}

.button1 {
  display: flex;
  justify-content: flex-start;
  margin: 16px 0px;
  width: 70%;
  border: none;
  border-radius: 10px;
  height: 30px;
  font-size: 18px;
}

.button1 i {
  font-size: 28px;
  margin-left: 4px;
  margin-right: 24px;
}

.button2 {
  background-color: white;
  border: none;
  font-style: normal;
  font-weight: 500;

  line-height: 29px;
  color: #9C9C9C;
  transition: all 0.2s ease-out;
}

.button2:hover {
  background-color: #00C164;
  color: white;
  transition: all 0.2s ease-out;
}

.navbar {
  margin: auto;
  display: flex;
  width: 90%;
  background-color: white;
  height: 80px;
  align-items: center;
  border-radius: 12px;
  justify-content: space-between;
}

.content-container {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}


.pie {
  display: flex;
  justify-content: space-between;
}

.piece {
  flex-basis: 30%;
  background-color: white;
  border-radius: 15px;
  height: 100px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
}

.piece2 {
  background-color: white;
  border-radius: 15px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 250px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
}

.piece2 img {
  height: 36%;
  margin-top: 30px;
}

.piece2 p {
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
}

.piece3 {
  background-color: white;
  border-radius: 15px;
  margin: 30px 40px;
  width: 180px;
  height: 150px;
  filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.25));
  cursor: pointer;
}

.piece3:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

/* Switch container */
.switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
  margin-top: 12px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

/* Round slider */
.slider.round {
  border-radius: 34px;
}

/* Slider on state */
.slider.round:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

/* Change color when checked */
input:checked+.slider {
  background-color: #00c164;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}